.cart-item-total, .order-total {
  color: $c_green !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.cart-item-price {
  font-weight: 400 !important;
  font-size: 16px !important;
}

#update-cart .coupon-code-field {
  position: absolute;
  margin-top: 31px !important;
  padding-left: 450px;
  right: 210px;
}
