body {
  border-top: 5px solid $c_blue;
  padding-top: 10px;
  line-height: 24px;
}

.page-wrapper {
  float: right;
  width: 100%;
  @include transition-duration(0.2s);
}

.hidden { display: none }

#logo {
  margin-top: 10px;
}

#welcome-message {
  text-align: center;
  margin-top: 20px;

  h1 {
    font-weight: 400;
    color: $body_text_color;

    a {
      color: $c_orange;

      &:hover {
        color: $c_green !important;
      }
    }
  }
}

#latest-products {
  h3 { color: $c_orange }
  hr { border-bottom-color: lighten($c_orange, 40) }

  .product-image a { border-color: lighten($c_orange, 40) }
  .product-name { color: $c_orange !important; }

  .bx-pager.bx-default-pager a.active,
  .bx-pager.bx-default-pager a:hover {
    background-color: $c_orange !important;
  }
}

#featured-products {
  h3 { color: $c_blue }
  hr { border-bottom-color: lighten($c_blue, 30) }

  .product-image a { border-color: lighten($c_blue, 30) }

  .bx-pager.bx-default-pager a.active,
  .bx-pager.bx-default-pager a:hover {
    background-color: $c_blue !important;
  }
}

#latest-products, #featured-products {
  margin: 40px 0 ;
  text-align: center;

  .bx-wrapper {
    margin-top: 40px;

    .bx-controls {
      bottom: inherit;
      top: -35px;
    }
  }

  h3 {
    text-align: center;
    font-weight: 400;
    display: inline-block;
    padding: 0 20px;
    width: auto;
    background-color: white;
    border: none;
    position: relative;
    z-index: 1;
  }

  hr {
    position: relative;
    z-index: 0;
    margin-top: -15px;
    border-bottom-width: 2px;
  }

  ul {
    margin-top: 30px;
  }

  .product-image {
    a {
      @include border-radius(165px);
      border-width: 2px;
      width: 160px;
      height: 160px;
    }

    img {
      @include border-radius(45px);
    }
  }
}

#sidebar {
  margin-bottom: 30px;
}

ul#products li {
  margin-bottom: 20px;

  a.info {
    height: inherit;
    font-weight: 400;
    color: $c_green;
  }

  .price {
    font-size: 24px;
  }

  .product-image {
    border: none;
    min-height: 245px;
    padding: 0;

    a {
      border-color: lighten($c_blue, 30);
      border-width: 2px;
      float: none;

      img {
        @include border-radius(0);
      }
    }
  }
}

#wrapper {
  margin-top: 30px;
}


#sidebar_products_search {
  .filter-title {
    color: $c_blue;
    border-color: lighten($c_blue, 30);
  }

  .filter_choices {
    font-size: 14px;
    list-style: none;
  }
}


.taxons-list {
  margin-bottom: 40px;
}

footer#footer {
  @include single-box-shadow(darken($c_blue, 10), 0, 0, 15px, 0, true);
  // background: image-url("store/footer-bg.png") repeat center;
  background-color: lighten($c_blue, 5);
  margin-top: 30px;
  border-top: 5px solid lighten($c_blue, 30);
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;

  &, a, h5 {
    color: white;
  }

  a:hover {
    color: lighten($c_green, 30) !important;
  }

  h5 {
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 23px;
    font-size: 17px;
  }

  p {
    padding-top: 0;
  }

  ul {
    list-style: none;

    li {

    }
  }
}
