li#link-to-cart {
  background-image: none !important;
  font-size: 14px;

  i {
    font-size: 16px;    
  }
}

#order_coupon_code { 
  margin-right: 10px;
}

.line_item_quantity {
  padding: 7px !important;
  width: 60px !important;
}